<div class="container" class="text-center" style="margin-bottom:2rem;">
    <div class="social-buttons">
        <a href="mailto:hello@stevenleabo.com" class="button">Email</a>
        <a href="https://github.com/leabs" class="button">GitHub</a>
        <a href="https://www.linkedin.com/in/stevenleabo/" class="button">LinkedIn</a>
        <a href="https://codepen.io/shadowstack" class="button">CodePen</a>
        <a href="https://www.youtube.com/@shadowstack" class="button">YouTube</a>
      </div>
</div>