<div class="grid social-icons">
  <article class="matched-radius" style="min-height: 224px; margin-top: 0">
    <div class="matched-radius__inner" style="background-color: var(--black)">
      <div class="grid">
        <div style="line-height: 224px">
          <a href="https://github.com/leabs"
            ><img
              src="../assets/social/github.svg"
              width="100"
              height="100"
              alt="github dark logo"
              style="max-width: 100px; height: 254px"
          /></a>
        </div>
        <script>
          // Get the Six most recently updated repos from https://api.github.com/users/leabs/repos
          fetch("https://api.github.com/users/leabs/repos")
            .then((response) => response.json())
            .then((data) => {
              // Sort the repos by most recently updated
              data.sort((a, b) => {
                return new Date(b.pushed_at) - new Date(a.pushed_at);
              });
              // Get the two most recently updated repos
              const repos = data.slice(0, 4);
              // Create a list of the two most recently updated repos
              const list = repos
                .map((repo) => {
                  return `<a class="button repo-button" style="color:#fff;
                padding: 7px 14px;
                font-size: 16px;
                line-height:38px;
              " href="${repo.html_url}">${repo.name}</a><br  />`;
                })
                .join("");
              // Add the list to the page
              document.getElementById("github-right").innerHTML += list;
            });
        </script>
        <div id="github-right" class="text-left" style="padding-bottom: 12px">
          <h5
            style="
              color: #fff;
              margin-bottom: 0;
              margin-top: 10px;
              margin-bottom: 7px;
              font-size: 20px;
            "
          >
            Recently Updated:
          </h5>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="grid social-icons logos">
  <article class="matched-radius">
    <div class="matched-radius__inner" style="background-color: #0077b5">
      <a href="https://www.linkedin.com/in/stevenleabo/"
        ><img
          src="../assets/social/linkedin.svg"
          width="90"
          height="25"
          alt="linkedin blue logo"
          style="max-width: 90px"
      /></a>
    </div>
  </article>
  <article class="matched-radius" style="margin-top: 0">
    <div class="matched-radius__inner" style="background: #000">
      <a href="https://codepen.io/shadowstack"
        ><img
          src="../assets/social/codepen.svg"
          width="90"
          height="25"
          alt="codepen black logo"
          style="max-width: 90px"
      /></a>
    </div>
  </article>
</div>

<div class="grid social-icons logos text-center social-third-row">
  <div>
    <article
      class="matched-radius"
      style="padding: 0; margin-bottom: 0; margin-top: 0"
    >
      <div class="matched-radius__inner" style="background: var(--black)">
        <a class="text-white" href="mailto:stevenleabo@gmail.com" aria-label="my personal email"
          ><svg
            width="50"
            height="50"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.94721 0.164594C7.66569 0.0238299 7.33431 0.0238302 7.05279 0.164594L0.552786 3.41459C0.214002 3.58399 0 3.93025 0 4.30902V12C0 12.5523 0.447715 13 1 13H14C14.5523 13 15 12.5523 15 12V4.30902C15 3.93025 14.786 3.58399 14.4472 3.41459L7.94721 0.164594ZM13.5689 4.09349L7.5 1.05902L1.43105 4.09349L7.5 7.29136L13.5689 4.09349ZM1 4.88366V12H14V4.88366L7.70977 8.19813C7.57848 8.26731 7.42152 8.26731 7.29023 8.19813L1 4.88366Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path></svg
        ></a>
      </div>
    </article>
  </div>
  <div>
    <article
      class="matched-radius"
      style="padding: 0; margin-bottom: 0; margin-top: 0"
    >
      <div class="matched-radius__inner" style="background: #282828">
        <a href="https://www.youtube.com/@shadowstack"
          ><img
            src="../assets/social/youtube.svg"
            width="100"
            height="100"
            alt="youtube logo"
            style="max-width: 80px"
        /></a>
      </div>
    </article>
  </div>
</div>
