<section id="d5" style="margin-bottom: 2rem">
  <div class="container" style="padding-top: 2rem">
    <div class="grid">
      <div>
        <article style="margin: 0; padding: 0">
          <div class="matched-radius">
            <div
              class="matched-radius__inner"
              style="
                background-image: linear-gradient(white, var(--highlight3));
                padding: var(--block-spacing-vertical)
                  var(--block-spacing-horizontal);
              "
            >
              <h2 style="margin-bottom: 57px">DojoFive.com</h2>

              <p style="margin-bottom: 15px">
                Dojofive is an IoT company based in Minnesota. Since 2021, I have worked as a contractor on their <strong>WordPress</strong> website, where I make updates to marketing-focused pages based on provided designs. This includes creating full pages, updating existing ones, and optimizing them for SEO. In addition, I assisted in implementing a webinar scheduling system that seamlessly integrates with their CRM, email marketing campaigns, and various other tasks.
              </p>
              <p>
                Click the thumbnails below to check out their Wordpress site or
                head over to <a
                href="https://dojofive.com/about"
                target="_blank"
                class="text-underline"
                >dojofive.com</a
              >
            </p>
            <div class="thumb-wrapper">
                
              
              <a target="_blank" href="{{site.baseurl}}/assets/images/d5/1.png"
                ><img
                  src="../../../assets/images/d5/1-thumb.png"
                  alt="DojoFive.com"
                  class="img-fluid"
                  loading="lazy"
              /></a>

              <a target="_blank" href="{{site.baseurl}}/assets/images/d5/2.png"
                ><img
                  src="../../../assets/images/d5/2-thumb.png"
                  alt="DojoFive.com"
                  class="img-fluid"
                  loading="lazy"
              /></a>
              <a target="_blank" href="{{site.baseurl}}/assets/images/d5/3.png"
                ><img
                  src="../../../assets/images/d5/3-thumb.png"
                  alt="DojoFive.com"
                  class="img-fluid"
                  loading="lazy"
              /></a>
            </div>
                
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
