<div class="blog-header" id="blog-header">
    <div class="container">
      <hgroup>
        <h1 style="color:#fff">{{page.title}}</h1>
        <p style="color:#fff">Some thoughts about technology, life, etc</p>
      </hgroup>
    </div>
  </div>
  <script>
    VANTA.WAVES({
      el: "#blog-header",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x91031
    })
    </script>
    