body {
  margin: 0;
  padding: 0;
}
body > header,
body > main {
  padding-top: 0;
}
main {
  padding-bottom: 2rem;
}
.matched-radius {
  background:white;
  padding: 10px !important;
  border-radius: 25px;
}

.matched-radius__inner {
  border-radius: 15px;
}

#blog  .matched-radius{
  background: #fff !important;
}
#blog  .matched-radius__inner{
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}

::marker {
  color: transparent;
}
.custom-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.custom-grid > div{
  flex:auto;
}
.button {
  background: var(--darkest);
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.75rem;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.post-date {
  --color: var(--darkest);
  font-size: 18px;
  margin-bottom: 20px;
}
.post-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-bottom: 20px;
}
.home-header,
.cta {
  background: var(--primary);
}
.page-header {
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
}
.blog-header {
  background: #000;
}
.home-header,
.page-header,
.blog-header {
  padding: 80px 10px;
}

.home-header span,
.home-header h1 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.home-header h1,
.blog-header h1,
.page-header h1 {
  text-align: center;
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  opacity: 0.85;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.home-header svg {
  max-width: 50px;
  height: auto;
}

.home-header p,
.page-header p,
.blog-header p {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem !important;
}
.home-header a {
  color: #fff;
  text-decoration: underline;
}
.home-header a:hover {
  color: #fff;
  text-decoration: wavy underline;
}
h1 > span:hover {
  opacity: 1;
  color: #420000;
  text-decoration: underline;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-white {
  color: #fff;
}
.text-highlight{
  color: var(--highlight);
}

.text-underline{
  text-decoration: underline;
}

.featured-post > div,
.contact > div {
  padding: 12px;
}

.featured-post img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.featured-post img:hover {
  cursor: pointer;
}

.social-icons > article {
  padding: 0;
  margin-bottom: var(--grid-spacing-vertical);
  min-height: 114px;
  text-align: center;
}
.logos > article {
  height: 94px;
  line-height: 94px;
}
.social-icons > article > a > img {
  max-height: 90px;
}

.social-icon-wrapper > .social-icons article:nth-child(1),
.social-icon-wrapper > .social-icons article:nth-child(2) {
  margin-top: 0;
}
.social-third-row {
  height: 94px;
  line-height: 94px;
}
#about > div > div > div.social-icon-wrapper > div:nth-child(1) > article {
  animation: fading 0.2s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div:nth-child(2)
  > article:nth-child(1) {
  animation: fading 0.3s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div:nth-child(2)
  > article:nth-child(2) {
  animation: fading 0.4s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div:nth-child(3)
  > article:nth-child(1) {
  animation: fading 0.5s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div:nth-child(2)
  > article:nth-child(3) {
  animation: fading 0.6s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div.grid.social-icons.logos.text-center.social-third-row
  > div:nth-child(3)
  > article {
  animation: fading 0.7s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div.grid.social-icons.logos.text-center.social-third-row
  > div:nth-child(1)
  > article {
  animation: fading 0.7s ease-in;
}
#about
  > div
  > div
  > div.social-icon-wrapper
  > div.grid.social-icons.logos.text-center.social-third-row
  > div:nth-child(2)
  > article {
  animation: fading 0.8s ease-in;
}
#project-wrapper > article {
  animation: fading 0.9s ease-in;
}
#videos > div > article:nth-child(1) {
  animation: fading 1s ease-in;
}
#videos > div > div > div:nth-child(1) > article {
  animation: fading 1.1s ease-in;
}
#videos > div > div > div:nth-child(2) > article {
  animation: fading 1.2s ease-in;
}

/* #videos{
  padding: 60px 0;
  background: linear-gradient(
    180deg,
    #fff 0%,
    hsl(195deg, 85%, 21%) 33%,
    hsl(195deg, 85%, 21%) 46%,
    #fff 100%
  );
} */
#videos h3 {
  margin-bottom: 30px;
}
h1 {
  line-height: 3rem;
}

.breadcrumbs {
  padding: 0 20px;
  background: #fff;
}

.cta {
  color: #fff;
  padding: 40px;
}
.cta hgroup h2,
.cta hgroup h3 {
  color: #fff;
}

.video-container {
  height: 580px;
  width: 1130px;
  max-width: 100%;
  position: relative;
}

.video-container video {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  color: #dc0000;
  padding: 10px;
}

/*Adjust padding on smaller screens */
@media screen and (max-width: 991px) {
  .breadcrumbs {
    padding: 0 3px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
  #github-right {
    padding-bottom: 8px;
    text-align: center;
  }
  #github-right > h5 {
    text-align: center;
  }
  #fun > article {
    text-align: center;
  }
  .button-wrapper {
    text-align: center;
  }
  .social-icon-wrapper > .social-icons article {
    margin: 20px 0 !important;
  }
  .social-icon-wrapper > .grid {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .social-third-row {
    height: auto;
    line-height: 88px;
    margin-bottom: 0;
  }
  .more-posts > article {
    background: var(--darkest) !important;
  }
  .more-posts > video {
    display: none;
  }
  .video-container {
    height: 580px !important;
  }
  /* .video-container video {
    display:none;
  } */
  section{
    margin-bottom:2rem;
  }
  article{
    margin-top: 0 !important;
    margin-bottom:34px;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card:first-of-type {
  margin-top: 2rem;
  margin-right: 2rem;
}
.card:last-of-type {
  margin-right: 0;
}

.card {
  text-align: center;
  width: calc(50% - 2rem);
  background: #fff;
  margin-bottom: 2rem;
  border-radius: 32px;
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
  display: grid;
}
.external-link:after {
  font-size: 0.6rem;
  content: "↗";
  padding-right: 13px;
}
.pr-images {
  border-radius: 32px;
}
