body {
  margin: 0;
  padding: 0;
}
body > header,
body > main {
  padding-top: 0;
}
.home-header {
  background-image: linear-gradient(
    50deg,
    hsl(240deg 100% 20%) 0%,
    hsl(271deg 100% 21%) 0%,
    hsl(288deg 100% 21%) 1%,
    hsl(302deg 100% 22%) 3%,
    hsl(313deg 100% 26%) 6%,
    hsl(321deg 100% 31%) 9%,
    hsl(327deg 100% 35%) 13%,
    hsl(332deg 100% 38%) 18%,
    hsl(336deg 100% 42%) 23%,
    hsl(339deg 100% 44%) 29%,
    hsl(351deg 86% 55%) 35%,
    hsl(2deg 95% 61%) 42%,
    hsl(11deg 100% 60%) 49%,
    hsl(20deg 100% 58%) 57%,
    hsl(28deg 100% 55%) 65%,
    hsl(35deg 100% 51%) 72%,
    hsl(41deg 100% 50%) 80%,
    hsl(46deg 100% 50%) 87%,
    hsl(50deg 100% 50%) 94%,
    hsl(55deg 100% 50%) 100%
  );
}
.page-header {
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
}
.blog-header {
  background-image: linear-gradient(
    111.1deg,
    rgba(0, 40, 70, 1) -4.8%,
    rgba(255, 115, 115, 1) 82.7%,
    rgba(255, 175, 123, 1) 97.2%
  );
}
.home-header,
.page-header,
.blog-header {
  padding: 80px 10px;
}

.home-header span,
.home-header h1 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.home-header h1,
.blog-header h1,
.page-header h1 {
  text-align: center;
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  opacity: 0.75;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.home-header svg {
  max-width: 50px;
  height: auto;
}

.home-header p,
.page-header p,
.blog-header p {
  text-align: center;
  color: #fff;
  opacity: 0.7;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem !important;
}
.home-header a {
  color: #111;
  text-decoration: underline;
}
.home-header a:hover {
  color: #fff;
  text-decoration: wavy underline;
}
h1 > span:hover {
  opacity: 1;
  color: #420000;
  text-decoration: underline;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.featured-post > div,
.contact > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.featured-post img {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.featured-post img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#blog,
#games {
  padding: 60px 0;
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(10, 53, 167, 0.25) 33%,
    rgba(10, 53, 167, 0.25) 46%,
    #fff 100%
  );
}

/* Floppy drive css */

.floppy .contain {
  max-width: 1200px;
  min-width: 600px;
  width: 50%;
  height: 520px;
  background: #333;
  margin: auto;
  border-radius: 15px 15px 0 0;
}
.floppy .hole {
  width: 30px;
  height: 10px;
  background: #fff;
  position: relative;
  right: -555px;
  top: -310px;
}
.banner {
  width: 80%;
  margin: auto;
  background: #444;
  height: 350px;
  background: lightgreen;
}
.floppy .stripe {
  position: relative;
  height: 50px;
  background: #fff;
}
.floppy .greenstripe {
  position: relative;
  height: 50px;
  background: lightgreen;
}
.floppy .metalLeft {
  height: 160px;
  width: 70px;
  background: #ccc;
  position: relative;
  left: 130px;
}
.floppy .metalTop {
  height: 20px;
  width: 80px;
  background: #ccc;
  position: relative;
  left: 200px;
  top: -160px;
}
.floppy .metalBottom {
  height: 20px;
  width: 80px;
  background: #ccc;
  position: relative;
  left: 200px;
  top: -40px;
}
.floppy .metalRight {
  height: 160px;
  width: 170px;
  background: #ccc;
  position: relative;
  left: 280px;
  top: -200px;
  z-index: 99;
}
.floppy .text {
  font-family: Helvetica;
  text-align: center;
  padding-top: 30px;
}
