body {
  margin: 0;
  padding: 0;
}
body > header,
body > main {
  padding-top: 0;
}
.home-header,
.cta {
  background: var(--primary);
}
.page-header {
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
}
.blog-header {
  background-image: linear-gradient(
    111.1deg,
    rgba(0, 40, 70, 1) -4.8%,
    rgba(255, 115, 115, 1) 82.7%,
    rgba(255, 175, 123, 1) 97.2%
  );
}
.home-header,
.page-header,
.blog-header {
  padding: 80px 10px;
}

.home-header span,
.home-header h1 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.home-header h1,
.blog-header h1,
.page-header h1 {
  text-align: center;
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  opacity: 0.85;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.home-header svg {
  max-width: 50px;
  height: auto;
}

.home-header p,
.page-header p,
.blog-header p {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem !important;
}
.home-header a {
  color: #fff;
  text-decoration: underline;
}
.home-header a:hover {
  color: #fff;
  text-decoration: wavy underline;
}
h1 > span:hover {
  opacity: 1;
  color: #420000;
  text-decoration: underline;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.featured-post > div,
.contact > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.featured-post img {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.featured-post img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* #videos{
  padding: 60px 0;
  background: linear-gradient(
    180deg,
    #fff 0%,
    hsl(195deg, 85%, 21%) 33%,
    hsl(195deg, 85%, 21%) 46%,
    #fff 100%
  );
} */
#videos h3{
  margin-bottom:30px;
}
h1 {
  line-height: 3rem;
}

.breadcrumbs {
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta {
  color: #fff;
  padding: 40px;
}
.cta hgroup h2,
.cta hgroup h3 {
  color: #fff;
}

/*Adjust padding on smaller screens */
@media screen and (max-width: 600px) {
  .breadcrumbs {
    padding: 0 3px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
}
