---
layout: default
---
{% include home/new-about.html %}
{% include social-buttons.html %}
<div class="container"><h2 class="text-white">Past Work</h2></div>

{% include home/anaren/anaren.html %}
{% include home/d5/d5.html %}
{% include home/atmo/atmo.html %}
<div class="container"><h2 class="text-white">Fun Projects</h2></div>
{% include home/zenmode.html %}
{% include home/featured-project.html %}
{% include home/project-leetcode.html %}
<div class="container"><h2 class="text-white">Videos</h2></div>
{% include home/featured-videos.html %}
{% include footer.html %}