<section id="about" style="margin-bottom:2rem;">
  <div class="container" style="padding-top: 60px">
    <div class="grid">
      <div>
        <article style="margin: 0">
            <h1 style="margin-bottom:27px;">Steven Leabo</h1>
            <br />
            
          <p>
            I've been doing Frontend Web Development professionally for
            <span id="years"></span> years. I work with anyone from start-ups to
            larger companies. My strengths are styling, building layouts and
            components from designs, and working with the latest technology in the web development space. Get in touch if you think I can help your
            business.
          </p>
        </article>
      </div>
      <div class="social-icon-wrapper">
      {% include social.html %}
      </div>
    </div>
  </div>
</section>

<script>
  //Display number of years since 2017 in span with the ID "years"
  var d = new Date();
  var n = d.getFullYear();
  var years = n - 2017;
  console.log(years);
  document.getElementById("years").innerHTML = years;
</script>
