<section id="about" style="margin-bottom: 2rem">
  <div class="container" style="padding-top: 2rem">
    <div class="grid">
      <div>
        <article style="margin: 0; padding:0;">
          <div class="matched-radius" >
            <div class="matched-radius__inner" style="background-image:linear-gradient(white, var(--highlight2)); padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);">
              <h1 style="margin-bottom: 27px">Steven Leabo</h1>
          <br />

          <p style="margin-bottom: 15px">
            I'm a Frontend Web Developer with
            <span id="years"></span> years of experience. I have collaborated
            with a wide range of clients, from start-ups to larger companies. My
            areas of expertise include creating appealing styles, constructing
            layouts and components based on designs, and utilizing cutting-edge
            web development technologies. If you believe I can assist your
            business, please contact me.
          </p>
            </div>
          </div>
          
        </article>
      </div>
      <div class="social-icon-wrapper">{% include social.html %}</div>
    </div>
  </div>
</section>

<script>
  //Display number of years since 2017 in span with the ID "years"
  var d = new Date();
  var n = d.getFullYear();
  var years = n - 2017;
  console.log(years);
  document.getElementById("years").innerHTML = years;
</script>
