<section aria-label="Contact Container">
  <div class="container">
    <article>
      <hgroup>
        <h2>Contact Me:</h2>
        <h3>Can I help in creating a website or app for you?</h3>
      </hgroup>
      <form class="grid">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="bob@aol.com"
          aria-label="email"
          required=""
        />
        <input
          name="searchTxt"
          type="text"
          id="speechTxt"
          value="hey Steve, we want you to work for us"
          required
        ></input>
        
        
      </form>
      <div class="text-center" style="max-width:500px; margin: 0 auto;">
        <button type="submit" role="button" onclick="speaks()" class="secondary">Preview</button>
          <button type="submit" role="button">Send</button>
        </div>
      
    </article>
  </div>
</section>

<script>
  function speaks() {
    let input = document.getElementById("speechTxt").value;
    window.speechSynthesis.speak(new SpeechSynthesisUtterance(input));
    /*wait 1 seconds before sending*/
    setTimeout(readyToSend, 1000);
  }
  function readyToSend() {
    window.speechSynthesis.speak(
      new SpeechSynthesisUtterance("Ready to send your message?")
    );
  }
</script>
