<div class="container">
  <h2>Contact Me:</h2>
  <article>
    <form>
    <input
        name="searchTxt"
        type="text"
        id="speechTxt"
        value="hey Steve, we want you to work for us"
      />
    <footer><button type="submit" class="" onclick="speaks()">Send!</button></footer>
  </form>
  </article>

</div>

<script>
  function speaks() {
    let input = document.getElementById("speechTxt").value;
    window.speechSynthesis.speak(new SpeechSynthesisUtterance(input));
    /*wait 1 seconds before sending*/
    setTimeout(readyToSend, 1000);

  }
  function readyToSend(){
    window.speechSynthesis.speak(new SpeechSynthesisUtterance('Ready to send your message?'));
  }
</script>
