<section>
  <div class="container" style="padding-top: 60px">
    <hgroup>
      <h2>Fun & Games:</h2>
      <h3>I sometimes draw with CSS or make other cool stuff.</h3>
    </hgroup>
    <div class="grid">
      <div>
        <article style="margin-top: 0">
          <img
            src="{{site.url}}/assets/images/fuji.png"
            alt="Floppy Drive in CSS"
            width="535"
            height="535"
            loading="lazy"
          />
          <h2 style="font-size: 1.3rem; margin-bottom: 0; margin-top: 12px">
            <a target="_blank" href="https://codepen.io/leab/pen/XdwKJR"
              >Fujifilm x100s in CSS</a
            >
          </h2>
        </article>
      </div>
      <div>
        <article style="margin-top: 0">
          <img
            src="{{site.url}}/assets/images/floppy.png"
            alt="Floppy Drive in CSS"
            width="535"
            height="535"
            loading="lazy"
          />
          <h2 style="font-size: 1.3rem; margin-bottom: 0; margin-top: 12px">
            <a target="_blank" href="https://codepen.io/leab/pen/xOGrLo"
              >Floppy Drive in CSS</a
            >
          </h2>
        </article>
      </div>
      <div>
        <article style="margin-top: 0">
          <img
            src="{{site.url}}/assets/images/peppers.png"
            alt="pepper game screenshot in the browser"
            width="535"
            height="535"
            loading="lazy"
          />
          <h2 style="font-size: 1.3rem; margin-bottom: 0; margin-top: 12px">
            <a
              target="_blank"
              href="https://replit.com/@leabs/Peppers-and-Perfume#code/main.js"
              >Peppers & Perfume</a
            >
          </h2>
        </article>
      </div>
      <div>
        <article style="margin-top: 0">
          <img
            src="{{site.url}}/assets/images/rock.png"
            alt="rock paper scissors game in the browser"
            width="535"
            height="535"
            loading="lazy"
          />
          <h2 style="font-size: 1.3rem; margin-bottom: 0; margin-top: 12px">
            <a target="_blank" href="https://codepen.io/leab/pen/MyZpjY"
              >Rock Paper Scissors</a
            >
          </h2>
        </article>
      </div>
    </div>
  </div>
</section>
