<section id="work">
  <div class="container" style="padding-top: 60px">
    <hgroup>
      <h2>Some of My Work:</h2>
      <h3>I love building things</h3>
    </hgroup>
    <div class="grid">
      <div style="margin:10px;">
        <img src="{{site.url}}/assets/images/blog/mirror.png" alt="" />
      </div>
      <div style="margin:10px;">
        <img src="{{site.url}}/assets/images/blog/mirror.png" alt="" />
      </div>
    </div>
    <div class="grid">
        <div style="margin:10px;">
          <img src="{{site.url}}/assets/images/blog/mirror.png" alt="" />
        </div>
        <div style="margin:10px;">
          <img src="{{site.url}}/assets/images/blog/mirror.png" alt="" />
        </div>
      </div>
  </div>
</section>
