<section style="margin-top:0; margin-bottom:0;" id="#fun">
  <div class="container">
    <div class="grid">
      <div>
        <article style="margin-top: 0; padding:10px; margin-bottom:2rem;">
          <img
            src="{{site.url}}/assets/images/fuji.png"
            alt="Floppy Drive in CSS"
            width="535"
            height="535"
            loading="lazy"
            style="border-radius:32px 32px 0 0; margin-bottom:10px;"
          />
          <a style="text-align: center;" href="https://codepen.io/leab/pen/XdwKJR"><h4>Fuji x100s in CSS</h4></a>
        </article>
      </div>
      <div>
        <article style="margin-top: 0; padding:10px;margin-bottom:2rem;">
          <img
            src="{{site.url}}/assets/images/floppy.png"
            alt="Floppy Drive in CSS"
            width="535"
            height="535"
            loading="lazy"
            style="border-radius:32px 32px 0 0; margin-bottom:10px;"
          />
          <a style="text-align: center;" href="https://codepen.io/leab/pen/xOGrLo"><h4>Floppy Drive in CSS</h4></a>
        </article>
      </div>
     
    </div>
    <div class="grid">
      <div>
        <article style="margin-top: 0; padding:10px;margin-bottom:2rem;">
          <img
            src="{{site.url}}/assets/images/peppers.png"
            alt="pepper game screenshot in the browser"
            width="535"
            height="535"
            loading="lazy"
            style="border-radius:32px 32px 0 0; margin-bottom:10px;"
          />
          <a style="text-align: center;" href="https://replit.com/@leabs/Peppers-and-Perfume#code/main.js"><h4>Peppers & Perfume</h4></a>
        </article>
      </div>
      <div>
        <article style="margin-top: 0; padding:10px;margin-bottom:2rem;">
          <img
            src="{{site.url}}/assets/images/rock.png"
            alt="rock paper scissors game in the browser"
            width="535"
            height="535"
            loading="lazy"
            style="border-radius:32px 32px 0 0; margin-bottom:10px;"
          />
          <a style="text-align: center;" href="https://codepen.io/leab/pen/MyZpjY"><h4>Rock Paper Scissors</h4></a>
        </article>
      </div>
    </div>
  </div>
</section>
