<section id="blog">
<div class="container" style="padding-top:60px;">
  <hgroup>
    <h2>Featured Blog Posts:</h2>
    <h3>Some thoughts on Web Development and/or life.</h3>
  </hgroup>
  <div class="grid">
    <!-- Show latest blog post-->
    {% for post in site.posts limit:3 %}

    <div>
      <article style="margin-top:0">
        <a href="{{ post.url }}"><img style="margin-bottom: 12px; border:1px solid #000;" src="{{site.url}}/assets/images/blog/{{post.image}}" alt="{{post.title}}" /></a>
        <hgroup>
          <h2 style="font-size:1.3rem;"><a href="{{post.url}}">{{post.title}}</a></h2>
          <h3>{{posts.date | date: "%D" }}</h3>
        </hgroup>

        <p>{{post.description | strip_html}}</p>
       
        
      </article>
    </div>

    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{{site.url}}/blog" role="button">View All Posts</a>
  </div>
</div>
</section>