<div class="container">
  <h2>Featured Posts:</h2>
  <div class="grid">
    <!-- Show latest blog post-->
    {% for post in site.posts limit:2 %}

    <div>
      <article>
        <header>
          <img style="border:1px solid #000;" src="{{site.url}}/assets/images/blog/{{post.image}}" alt="{{post.title}}" />
        </header>
        <hgroup>
          <h2><a href="{{post.url}}">{{posts.title}}</a></h2>
          <h3>{{posts.date | date: "%D" }}</h3>
        </hgroup>

        <p>{{post.description | strip_html}}</p>
        <footer><a href="{{post.url}}">Read More...</a></footer>
      </article>
    </div>

    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{{site.url}}/blog" role="button">View All Posts</a>
  </div>
</div>
