<div class="home-header" id="home-header">
  <div>
    <h1>
      <span onclick="talk('hey')">Hey, </span><span> </span>
      <span onclick="talk('whatsup')">what's up</span> <span> </span>
      <span onclick="talk('itsme')">it's me</span> <span> </span>
      <span onclick="talk('steve')">Steve</span>
    </h1>
    <p class="text-center">
      I'm a Frontend Web Developer from Syracuse, NY who likes to build cool
      stuff. Reach out if you're interested in working together or check out my
      projects here or on
      <a href="https://github.com/leabs" target="_blank">GitHub</a>.
      <br />
    </p>
  </div>
</div>
<script>
VANTA.WAVES({
  el: "#home-header",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x92946
})
</script>
