<div class="home-header">
  <div class="container">
    <p class="popin animate-flicker">click</p>
    <h1>
      <span onclick="talk('hey')">Hey, </span><span> </span>
      <span onclick="talk('whatsup')">what's up</span> <span> </span>
      <span onclick="talk('itsme')">it's me</span> <span> </span>
      <span onclick="talk('steve')">Steve</span>
    </h1>
    <p class="text-center">
      I'm a frontend web developer from Syracuse, NY who likes to build cool
      stuff. Reach out to me below if you're interested in working together or
      check out my projects here or on
      <a href="https://github.com/leabs" target="_blank">GitHub</a>.
    </p>
  </div>
</div>
