<div class="home-header">
  <div>
    <h1>
      <span onclick="talk('hey')">Hey, </span><span> </span>
      <span onclick="talk('whatsup')">what's up</span> <span> </span>
      <span onclick="talk('itsme')">it's me</span> <span> </span>
      <span onclick="talk('steve')">Steve</span>
    </h1>
    <p class="text-center">
      I'm a Frontend Web Developer from Syracuse, NY who likes to build cool
      stuff. Reach out if you're interested in working together or
      check out my projects here or on
      <a href="https://github.com/leabs" target="_blank">GitHub<img src="{{site.url}}/assets/images/external.png" width="32" height="32" style="padding-bottom:8px;"/></a>.
      <br />

    </p>
  </div>
</div>


<script>
  function speaks() {
    let input = document.getElementById("speechTxt").value;
    window.speechSynthesis.speak(new SpeechSynthesisUtterance(input));
    /*wait 1 seconds before sending*/
    setTimeout(readyToSend, 1000);

  }
  function readyToSend(){
    window.speechSynthesis.speak(new SpeechSynthesisUtterance('Ready to send your message?'));
  }
</script>