<section id="more-posts" style="margin-bottom: 1rem">
  <div class="container">
    <article style="margin-top: 0; padding: 0; margin-bottom: 0">
      <div class="matched-radius">
        <div
          class="matched-radius__inner"
          style="
            background-image: linear-gradient(var(--darkest), #000);
            padding: var(--block-spacing-vertical)
              var(--block-spacing-horizontal);
          "
        >
          <h2 class="post-title text-white">More Blog Posts</h2>
          <table class="table table-responsive">
            <thead>
              <tr style="border-bottom: 2px solid var(--highlight)">
                <th class="text-highlight" style="width: 5%">Date</th>
                <th class="text-highlight" style="width: 55%">Title</th>
                <th class="text-highlight" style="width: 40%">Topics</th>
              </tr>
            </thead>
            <tbody>
              {% for post in site.posts %}
              <!--Exclude the 3 most recent posts-->
              {% if forloop.index > 3 %}
              <tr>
                <td>
                  <a
                    href="{{ post.url | prepend: site.baseurl }}"
                    class="text-white"
                    >{{ post.date | date: "%D" }}</a
                  >
                </td>
                <td>
                  <a
                    href="{{ post.url | prepend: site.baseurl }}"
                    class="text-white text-underline"
                    >{{ post.title }}</a
                  >
                </td>
                <td>
                  <a
                    href="{{ post.url | prepend: site.baseurl }}"
                    class="text-white"
                    >{{ post.tags  | array_to_sentence_string }}</a
                  >
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</section>
