<section id="more-posts" style="margin-bottom: 1rem">
  <div class="container">
    <div class="grid">
      <div>
        <article style="margin-top: 0; padding: 0; margin-bottom: 0">
          <div class="matched-radius">
            <div class="matched-radius__inner" style="
                background: var(--black);
                padding: var(--block-spacing-vertical)
                  var(--block-spacing-horizontal);
              ">
              <h2 class="text-white">More Blog Posts</h2>
              <ul style="list-style: none; padding-left: 0">
                {% for post in site.posts | limit: 7 %}
                <!--Exclude the 3 most recent posts-->
                {% if forloop.index > 3 %}
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}" class="text-white">{{ post.date | date: "%D" }} - {{
                    post.title | truncate: 34
                    }}</a>
                </li>
                {% endif %} {% endfor %}
              </ul>
              <a href="/blog" class="button">View All</a>
            </div>
          </div>
        </article>
      </div>
      <div>
        <article style="padding: 0; margin-top: 0; margin-bottom: 2rem" class="text-center">
          <div class="matched-radius">
            <div class="matched-radius__inner" style="
                background-image: linear-gradient(white, var(--highlight2));
                padding: 45px 10px;
              ">
              <h2 style="margin-bottom: 2rem">More Stuff</h2>
              <a href="/themes" class="button">Themes for Clients</a>
              <a href="/apps" class="button">Apps I Use</a>
            </div>
          </div>
        </article>
        <article style="height: 214px; padding: 20px 20px; margin: 0" class="text-center">
          <h2 class="" style="margin-bottom: 2rem">Last Song Played</h2>
          <div class="custom-grid">
            <div style="max-width: 120px">
              <a href="https://open.spotify.com/user/stevenleabo">
                <div>
                  <img src="../assets/social/spotify.svg" with="80" height="80" alt="Spotify green logo"
                    style="max-width: 50px" />
                </div>
              </a>
            </div>
            <div>
              <p style="margin-bottom: 0; text-align: left">A.D.H.D</p>
              <p style="font-weight: 700; margin-bottom: 0; text-align: left">
                Kendrick Lamar
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>