<div class="container" style="margin-bottom:2rem; padding-top:2rem;">
  <div>
    <div class="matched-radius">
      <div
        class="matched-radius__inner"
        style="background: var(--black); border-radius: 26px"
      >
        <div class="video-container" style="height: 400px">
          <video preload autoplay muted loop playsinline>
            <!--Placeholder image until video loads-->
            <img
              src="{{site.baseurl}}/assets/video/header-video.png"
              alt="Placeholder image until video loads"
              style="width: 100%; border-radius: 10px 10px 0 0"
            />
            <source
              src="{{site.baseurl}}/assets/video/header-video.mp4"
              type="video/mp4"
            />
          </video>
          <div class="caption" style="border-radius: 25px">
            <div class="gird">
              <div
                style="
                  padding: var(--block-spacing-vertical)
                    var(--block-spacing-horizontal);
                  padding-bottom: 0;
                  padding-top: 2rem;
                "
              >
                <h1 class="text-white">Steven Leabo</h1>
                <p class="text-white">
                  I am a Web Developer with 6 years of professional experience.
                  I have collaborated with a diverse range of clients, from
                  start-ups to larger companies. My areas of expertise include
                  building sites with visually appealing styles, constructing
                  layouts and components based on designs, and utilizing the
                  latest web development technologies. If you believe I can
                  assist your business, please feel free to contact me. I am
                  based in Upstate NY.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
