<section aria-label="Contact Container" style="margin-bottom: 2rem">
  <div class="container">
    <article
      style="
        margin-bottom: 0;
        margin: 0 auto;
        padding-bottom: 40px;
        background: #0e0d0d;
      "
    >
      <div>
        <div class="post-date">
          <span class="text-white">Open Source</span>
        </div>
        <h3 class="text-white">Projects I've Contributed to:</h3>
        <div id="projects" class="grid"></div>
      </div>
    </article>
  </div>
</section>
