<section id="leetcode" style="margin-bottom: 2rem">
  <div class="container">
    <div>
      <div class="matched-radius">
        <video preload autoplay muted loop playsinline id="myVideo" style="width:100%; border-radius:20px 20px 0 0; ">
            <!--Placeholder image until video loads-->
            <img src="{{site.baseurl}}/assets/video/zenmode.png" alt="Placeholder image until video loads"
              style="width:100%; border-radius:20px 20px 0 0;">
            <source src="{{site.baseurl}}/assets/video/zenmode.mp4" type="video/mp4">
          </video>
        <div
          class="matched-radius__inner"
          style="
          border-radius: 0 0 15px 15px;
            min-height: 100%;
            background-image: linear-gradient(var(--highlight), white);
            padding: var(--block-spacing-vertical)
              var(--block-spacing-horizontal);
          "
        >
        <article style="background:transparent; margin:0; padding:0 2rem;">
          <div class="post-date"><span>Project</span></div>
          <h3>Zen Mode</h3>
          <p>
            A quick and easy way to compile and share embedded content. Open
            Source, no ads or tracking.
          </p>
          <p>Get a high level overview of content that matters like breaking
            news, stock market opens, or live train cameras! See something
            interesting on one of the streams? Full screen and unmute that
            video!</p>

          <div class="grid text-center" style="padding: 1rem">
            <div>
              <a href="https://zenmode.cam/" class="button">Live Site</a>
            </div>
            <div>
              <a href="https://github.com/leabs/zen-mode" class="button"
                >Code Repo</a
              >
            </div>
          </div>
        </article>
        </div>
      </div>
    </div>
  </div>
</section>
