<section id="zenmode" style="margin-bottom: 2rem">
  <div class="container">
    <div>
      <div class="matched-radius">
        <video
          preload
          autoplay
          muted
          loop
          playsinline
          id="myVideo2"
          style="width: 100%; border-radius: 20px 20px 0 0"
        >
          <!--Placeholder image until video loads-->
          <img
            src="{{site.baseurl}}/assets/images/zenmode.png"
            alt="Placeholder image until video loads"
            style="width: 100%; border-radius: 20px 20px 0 0"
          />
          <source
            src="{{site.baseurl}}/assets/video/zenmode.mp4"
            type="video/mp4"
          />
        </video>
        <div
          class="matched-radius__inner"
          style="
            border-radius: 0 0 15px 15px;
            min-height: 100%;
            background-image: linear-gradient(var(--highlight), white);
            padding: var(--block-spacing-vertical)
              var(--block-spacing-horizontal);
          "
        >
          <article style="background: transparent; margin: 0; padding: 0 2rem">
            <div class="post-date"><span>Project</span></div>
            <h3>Zen Mode</h3>
            <p>
              Experience a quick and hassle-free method to compile and share
              embedded content with Zen Mode. It is completely open-source,
              ensuring an ad-free and tracking-free environment.
            </p>

            <p>
              Obtain a comprehensive overview of crucial content such as
              breaking news, stock market openings, or live train cameras. If
              you come across something intriguing on any of the streams, easily
              switch to full screen mode and unmute the video for an enhanced
              viewing experience.
            </p>

            <div class="grid text-center" style="padding: 1rem">
              <div>
                <a href="https://zenmode.cam/" class="button">Live Site</a>
              </div>
              <div>
                <a href="https://github.com/leabs/zen-mode" class="button"
                  >Code Repo</a
                >
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
